@page
@model PRN211GroupProject.Pages.Accounts.History.IndexModel

@{
    ViewData["Title"] = "History";
    var popperJsUrl = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js";
}



<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .center-table {
        width: 100%;
        text-align: center;
    }

        .center-table th, .center-table td {
            text-align: center;
        }

    .form-inline {
        justify-content: center;
    }
</style>

<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="~/assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>

<main>
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Booking History</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card center-content">
        <br />
        <form method="post" class="form-inline mb-3" asp-page-handler="SortDate">
            <div class="form-group mr-2">
                <label class="mr-2">From:</label>
                <input type="date" class="form-control" id="fromDate" name="fromDate">
            </div>
            <div class="form-group mr-2">
                <label class="mr-2">To:</label>
                <input type="date" class="form-control" id="toDate" name="toDate">
            </div>
            <button type="submit" class="btn btn-primary">Apply Filter</button>
        </form>


        <div class="table-responsive">
            <table class="table center-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bill[0].Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bill[0].Started)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bill[0].Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bill[0].Voucher)
                        </th>
                        <th style="width: 10%">View Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bill)
                    {
                        <tr>
                            <td>@(Model.Bill.IndexOf(item) + 1)</td>
                            <td>    
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Started)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            @if (item.Voucher != null)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Voucher.Discount)%
                                </td>
                            }
                            else
                            {
                                <td>No Voucher</td>
                            }
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 4a.9.9 0 1 1 0 1.8A.9.9 0 0 1 8 4zm-.445 6.89c.088.22.21.416.363.568.154.15.348.266.568.354.22.088.45.133.688.133s.468-.045.687-.133a2.08 2.08 0 0 0 1.045-1.045c.088-.22.133-.46.133-.688s-.045-.468-.133-.688a2.08 2.08 0 0 0-1.045-1.045c-.22-.088-.45-.133-.687-.133s-.468.045-.688.133a2.08 2.08 0 0 0-.568.354 2.08 2.08 0 0 0-.354.568 2.08 2.08 0 0 0-.133.688c0 .238.045.468.133.688a2.08 2.08 0 0 0 .354.568 2.08 2.08 0 0 0 .568.354c.22.088.45.133.688.133s.468-.045.688-.133a2.08 2.08 0 0 0 .568-.354 2.08 2.08 0 0 0 .354-.568c.088-.22.133-.45.133-.688s-.045-.468-.133-.688a2.08 2.08 0 0 0-.354-.568 2.08 2.08 0 0 0-.568-.354 2.08 2.08 0 0 0-.688-.133c-.238 0-.468.045-.688.133a2.08 2.08 0 0 0-.568.354 2.08 2.08 0 0 0-.354.568zM8 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.errorMessage))
                    {
                        <tr>
                            <td colspan="8" style="vertical-align: middle;">
                                <h2 style="color:grey; text-align:center;">@Model.errorMessage</h2>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>


