@page
@model PRN211GroupProject.Pages.Admin.FeedbackPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Information)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Information)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.AccId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.AccId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
