@page
@model PRN211GroupProject.Pages.AccountPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<style>
    .details-container {
        margin: 0 auto;
        width: 50%;
        background-color: #ffffff; /* Background color of the details box */
        border: 1px solid #ddd; /* Border color */
        border-radius: 10px; /* Rounded corners */
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Optional: Adds a shadow */
    }

        .details-container h4 {
            text-align: center;
        }

    .details-list dt {
        font-weight: bold;
        margin-top: 10px;
    }

    .details-list dd {
        margin-left: 0;
    }

    .details-actions {
        margin-top: 20px;
        text-align: center;
    }
</style>

<div class="details-container">
    <h4>Account Details</h4>
    <hr />
    <dl class="details-list row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Pass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Pass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CountVoucher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CountVoucher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Voucher)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Account.Voucher != null && !String.IsNullOrEmpty(Model.Account.Voucher.Name))
            {
                @Html.DisplayFor(model => model.Account.Voucher.Name)
            }
            else
            {
                @ViewData[String.Empty]
            }
        </dd>
    </dl>

    <div class="details-actions">
        <a asp-page="./Edit" asp-route-id="@Model.Account?.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
