@page
@model PRN211GroupProject.Pages.AvailablePage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Service
            </th>
            <th>
                Spot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Availables)
        {
            <tr>
                <td>
                    <a asp-page="ServicePage/Details" asp-route-id="@item.ServiceId">@Html.DisplayFor(modelItem => item.ServiceId)</a>
                </td>
                <td>
                    <a asp-page="ServicePage/Details" asp-route-id="@item.SpotId">@Html.DisplayFor(modelItem => item.SpotId)</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
